* {
    font-family: 'Work Sans', sans-serif;
}

.timer-area {
    height: 25px;
    background-color: black;
    color: white;
    text-align: center;
}
.question-area {
    height: 300px;
    padding-top: 75px;
}

.choices {
    height: 300px;
    padding-top: 50px;
}

.choice {
    width: 400px;
    margin: 0 20px 20px 0;
}