* {
    font-family: 'Quicksand', sans-serif;
}

header, .choices {
    background-color: lightgoldenrodyellow;
}

header h1, .head-small{
    font-family: 'Rammetto One', cursive;
    color: black;
    letter-spacing: 2px;
}

h1 {
    font-size: 40px;
}

.head-small {
    font-size: 14px;
}

.timer-area {
    height: 25px;
    background-color: black;
    color: white;
    text-align: center;
}
.question-area {
    height: 300px;
    padding-top: 75px;
}

.choices {
    height: 300px;
    padding-top: 50px;
}

.choice {
    width: 400px;
    margin: 0 20px 20px 0;
}