* {
    font-family: 'Work Sans', sans-serif;
}

.timer-area {
    height: 25px;
    background-color: lightskyblue;
    color: white;
}
.question-area {
    height: 300px;
    padding-top: 75px;
}

.choices {
    height: 300px;
    padding-top: 25px;
}

.choice {
    width: 400px;
    margin-bottom: 20px;
}